.App {
  padding: 20px;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.donate-card {
  width: 100%;
}
.give-now {
  display: flex;
}

.tool-tip {
  background-color: #242624;
  border-radius: 6px;
  padding: 20px;
  color: white;
  margin: 4px 0;
  position: relative;
}
.tool-tip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 83%;
  top: 56px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 18px solid #242624;
}
.progress-bar {
  border: solid 1px #a2a8a3;
  height: 20px;
  margin-top: 6px;
}
.progress-status {
  background-color: #d63b36;
  height: 100%;
}
.highlight-text {
  color: #d63b36;
}
.card {
  font-size: 1.5rem;
  color: #a2a8a3;
}
.why-give input {
  border: none;
}
.why-give {
  border: solid 1px #a2a8a3;
  padding: 2px;
}
